# Python cache:
__pycache__
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment:
venv/

# Test directories and files:
tests/
*.test.*
*.spec.*

# Initialization scripts and files (if not needed in the Docker image):
init_db.py
init.sql

# OS specific files:
.DS_Store
Thumbs.db

# Logs and data:
*.log
*.sqlite

# Local env variables:
.env